<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.5" targetFramework="net462" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net461" />
  <package id="Eyes.Sdk" version="2.14.3" targetFramework="net461" />
  <package id="Eyes.Selenium" version="2.12.3" targetFramework="net461" />
  <package id="Milyli.UIAutomation.Relativity" version="2.1.0.2" targetFramework="net461" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="NUnit" version="3.10.1" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net452" />
  <package id="Relativity.Api" version="9.6.112.108" targetFramework="net461" />
  <package id="Relativity.Rsapi" version="9.6.112.108" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.21.0" targetFramework="net462" />
  <package id="Selenium.PhantomJS.WebDriver" version="2.1.1" targetFramework="net452" />
  <package id="Selenium.Support" version="3.12.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.12.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.40.0" targetFramework="net462" />
  <package id="Selenium.WebDriver.IEDriver" version="3.12.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.MicrosoftWebDriver" version="10.0.17134" targetFramework="net452" />
  <package id="SpecFlow" version="2.4.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>