<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net451" />
  <package id="kCura" version="9.5.341.30" targetFramework="net451" />
  <package id="kCura.Injection" version="9.5.341.30" targetFramework="net451" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net462" />
  <package id="Relativity.API" version="9.5.341.30" targetFramework="net451" />
  <package id="Relativity.Authentication.Interfaces" version="9.5.341.30" targetFramework="net451" />
  <package id="Relativity.Kepler" version="1.0.1.409" targetFramework="net462" />
  <package id="Relativity.Logging.Interfaces" version="9.4.300" targetFramework="net451" />
  <package id="Relativity.SecretCatalog" version="1.0.18" targetFramework="net462" />
  <package id="Relativity.Services.DataContracts" version="9.6.46.136" targetFramework="net462" />
  <package id="Relativity.Services.Interfaces" version="9.6.46.136" targetFramework="net462" />
  <package id="Relativity.Services.Interfaces.Private" version="9.5.300.74" targetFramework="net462" />
  <package id="Relativity.Telemetry.DataContracts.Shared" version="9.4.74" targetFramework="net462" />
  <package id="Relativity.Toggles" version="1.0.0.64" targetFramework="net462" />
</packages>