obj
bin
*/bin/
*.suo
*.user
*.orig
*.log
*.GhostDoc.xml
~$*.xlsx
App.tony.config
settings.*.bat
Build/Working/
Build/processed/
Build/*.rap
Source/Deployment/
Source/Confused
Source/_UpgradeReport_Files

Source/kCura.PDB.DatabaseMigration/MigrateWorkspace.zip
Source/kCura.PDB.DatabaseMigration/MigratePerformance.zip
Source/kCura.PDB.DatabaseMigration/MigrateQoS.zip
Source/kCura.PDB.DatabaseMigration/MigrateResource.zip
Source/kCura.PDB.DatabaseMigration/MigrateTesting.zip
Source/kCura.PDB.Service/MigrateWorkspace.zip
Source/kCura.PDB.Service/MigratePerformance.zip
Source/kCura.PDB.Service/MigrateQoS.zip
Source/kCura.PDB.Service/MigrateResource.zip
Source/packages
Source/TestResults
Source/Solution/packages

Source/Build/processed/
Source/Build/Working/
Source/Build/PDB 9.3.0.*.rap

Source/.vs/
Source/.cr/

Source/Solution/App.David.config
Source/AppSettings.Override*.config
Source/RelativityConnection.Override*.config


node_modules

packages/
*.dotsettings.*
custompages
dependencygraph.xml
build*.log
output
debug
release
sqllog.txt
thumbs.db
*.docstates
*.harnessitconfig
*.vbproj.user
*.csproj.user
*.vcxproj.user
*.wixproj.user
*.sdf
*.opensdf
*.tlb
*.pdb
*.pch
*.obj
*.dep
*.idb
*.ilk
*.ipch
*.o
*.lo
*.pyo
*.la
*.tlog
#*#
*.rej
*~
.#*
*.bak
*.nrmap
*.msi
*.wixobj
*.wixpdb
*.wxsreg
*.msm
*.exe
*.rap
*.intermediate.manifest
*resharper*
**/.cr/**
.lastbuildstate
.lastbuildsucceeded
.lastcodeanalysissucceeded
*.dotcover
*.dotsettings
testlogs/*
packages/*
*.pubxml.user
*.nupkg
msbuild.targets
dlls.txt
developmentscripts/nunit*
buildlogs
pdbs/
applications/*.nuspec

Source/kCura.PDD.Web/Web.config
**/\.cr/

\.vs/
