<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="connectionString" value="data source=localhost;initial catalog=Trust;persist security info=False;user id=sa;password=Password1!; workstation id=localhost;packet size=4096"/>
    <add key="outputFilePath" value="\\p-dv-dsk-jlow\Builds\TrustBridge.csv"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>