<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="vendor" value="..\..\vendor\AdditionalPackages" />
    <add key="kCura Private" value="\\milyli-server\MILYLIFOLDERS\Office\Clients\kCura\PDB\Resources" />
	<add key="milyli" value="http://nuget.milyli.net/nuget" />
  </packageSources>
</configuration>
