<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net462" />
  <package id="CommandLineParser" version="2.2.1" targetFramework="net462" />
  <package id="kCura" version="9.5.341.30" targetFramework="net462" />
  <package id="kCura.Injection" version="9.5.341.30" targetFramework="net462" />
  <package id="kCura.PDB.Dapper" version="1.50.2" targetFramework="net462" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net462" />
  <package id="Relativity.API" version="9.5.341.30" targetFramework="net462" />
  <package id="Relativity.Authentication.Interfaces" version="9.5.341.30" targetFramework="net462" />
  <package id="Relativity.Core" version="9.5.292.12" targetFramework="net462" />
  <package id="Relativity.Kepler" version="1.0.1.423" targetFramework="net462" />
  <package id="Relativity.Kepler.Client" version="1.0.1.423" targetFramework="net462" />
  <package id="Relativity.Logging.Interfaces" version="9.4.300" targetFramework="net462" />
  <package id="Relativity.Rsapi" version="9.5.292.12" targetFramework="net462" />
  <package id="Relativity.SecretCatalog" version="1.0.18" targetFramework="net462" />
  <package id="Relativity.ServiceBus" version="2.1.12" targetFramework="net462" />
  <package id="Relativity.Services.DataContracts" version="9.6.46.136" targetFramework="net462" />
  <package id="Relativity.Services.Interfaces" version="9.6.46.136" targetFramework="net462" />
  <package id="Relativity.Services.Interfaces.Private" version="9.5.300.74" targetFramework="net462" />
  <package id="Relativity.Telemetry.APM" version="9.4.152" targetFramework="net462" />
  <package id="Relativity.Telemetry.DataContracts.Shared" version="9.4.74" targetFramework="net462" />
  <package id="Relativity.Telemetry.Services.Interface" version="9.4.378.21" targetFramework="net462" />
  <package id="Relativity.Toggles" version="1.0.0.64" targetFramework="net462" />
  <package id="System.Collections" version="4.0.11" targetFramework="net462" />
  <package id="System.Console" version="4.0.0" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net462" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net462" />
  <package id="System.IO" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net462" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net462" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net462" />
  <package id="System.Reflection.TypeExtensions" version="4.1.0" targetFramework="net462" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net462" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net462" />
</packages>