IF EXISTS ( SELECT 1 FROM sysobjects
            WHERE [name] = 'QoS_GenerateTestData'
                    AND type = 'P' ) 
BEGIN
	DROP PROCEDURE eddsdbo.QoS_GenerateTestData
END
GO
		
--for this test data generator to be accurate, you must configure and run the searches that you want to have as part of the test population.  Similarly, execute audits of the other types that you wish to simulate.  

--to avoid an oppressive hit on the workspace auditRecord where the audits are being fabricated, this script will only look in the past day (from the time of running this script) for the audits that it will be using to generate the audits.  Therefore, if you are creating audits over a period of many days, you may find that VARSCAT returns searches that were (apparently) run before they were created.  

--in our test environment, this script was capable of generating app. 140k audits per hour.  

--you may control the audit counts for each hour of audits generated by setting the below ct_ parameters
		
--for this test data generator to be accurate, you must configure and run the searches that you want to have as part of the test population.  Similarly, execute audits of the other types that you wish to simulate.  

--to avoid an oppressive hit on the workspace auditRecord where the audits are being fabricated, this script will only look in the past day (from the time of running this script) for the audits that it will be using to generate the audits.  Therefore, if you are creating audits over a period of many days, you may find that VARSCAT returns searches that were (apparently) run before they were created.  

--you may control the audit counts for each hour of audits generated by setting the below ct_ parameters

--If you don't have parity in your audits between Count and TOP queries, you will have variations in the result set. 

CREATE PROCEDURE eddsdbo.QoS_GenerateTestData 
@beginDate Datetime  
,@LLRandExecutionTime int = 0--this is the lower limit to set execution time to be
,@ULRandExecutionTime int = 3600--this is the upper limit to set execution time to be
--AuditCounts
,@ct_View int 
,@ct_Update int 
,@ct_DocumentQuery int 
,@ct_Query int 
,@ct_Import int 
,@ct_Export int 
,@ct_ReportQuery int
,@ct_RelativityScriptExecution int
,@ct_MassAction int
,@logging bit  = 1

AS  
BEGIN
IF NOT EXISTS(SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'QoS_testDataGeneratorLog' AND TABLE_SCHEMA = 'EDDSDBO') 
CREATE TABLE EDDSDBO.QoS_testDataGeneratorLog(
TDGLID INT IDENTITY ( 1 , 1 ),PRIMARY KEY (TDGLID)
	,AuditHour datetime
	,TotalExecutionTime int
	,AVGConcurrency DECIMAL (18,3)
	,Split int 
	,AVGArrivalRate DECIMAL (18,3)
	,dateCreated datetime)

CREATE TABLE [EDDSDBO].#TestUsers (
	TestUserID INT IDENTITY ( 1 , 1 ),PRIMARY KEY (TestUserID)
	,[UserID] [int])

CREATE TABLE [EDDSDBO].#TestSearches(
	TestSearchID INT IDENTITY ( 1 , 1 ),PRIMARY KEY (TestSearchID)
	,[ViewArtifactID] [int])

DECLARE @i int
DECLARE @o int
DECLARE @audit int
DECLARE @iUpper int
DECLARE @userID int, 
@SearchID int,
@startSec int, 
@workspace int, 
@duration int, 
@split int = 0,
@timestamp datetime,
@lower int, 
@upper int,
@imax int, --the total number of audits that will be generated for each audit type
@totalSearches int, -- used for finding a random search to insert
@totalUsers int, -- used to find a random user to use as the audited user
@totalExecutionTime int = 0,
@concurrencyThisHour DECIMAL (18,3),
@arrivalRateThisHour DECIMAL (18,3),
@auditUsers456 int,
@genericCounter int = 0

--Get all users from auditUser table
Insert into #TestUsers SELECT userID FROM EDDSDBO.AuditUser

--gather up as a base sample all the search artifactIDs in the workspace to be polluted that have occurred in the past day. 
Insert into #TestSearches SELECT artifactID FROM EDDSDBO.[view] WHERE ArtifactTypeID = 10 and artifactID in (SELECT ArtifactID from EDDSDBO.AuditRecord WHERE [action] = 28 and [timestamp] >= dateadd(hh, -4, getUTCDate()))
--get all searches from view table
SELECT @totalUsers = count (testUserID) FROM #TestUsers 
SELECT @totalSearches = count (testSearchID) FROM #TestSearches

SET @Lower = @LLRandExecutionTime ---- The lowest random number
SET @Upper = @ULRandExecutionTime ---- The highest random number
SET @i = 0
SET @imax = 0
SET @o = 1

--SELECT Top 1 * FROM eddsdbo.AuditRecord_PrimaryPartition WHERE [action] = 32 order by executiontime DESC  

--Begin Transaction createTestAudits--No other audits should be allowed to post to the auditrecord while this script runs.  
WHILE @o < 10
BEGIN
	IF @o = 1 -- Views
	BEGIN
		SET @audit = 1 
		SET @imax = @ct_View 
	END
	IF @o = 2 --updates
	BEGIN
		SET @audit = 3
		SET @imax =  @ct_Update
	END
	IF @o = 3 --Document Query 
	BEGIN
		SET @audit = 28
		SET @imax = @ct_DocumentQuery/2  --Dividing by 2 to account for COUNT queries
	END
	IF @o = 4 --Query
	BEGIN
		SET @audit = 29
		SET @imax = @ct_Query/2  --Dividing by 2 to account for COUNT queries
	END
	IF @o = 5 --Import
	BEGIN
		SET @audit = 32
		SET @imax =  @ct_Import
	END
	IF @o = 6 --Export
	BEGIN
		SET @audit = 33
		SET @imax =  @ct_Export
	END
	IF @o = 7 --ReportQuery
	BEGIN
		SET @audit = 34
		SET @imax =  @ct_ReportQuery
	END
	IF @o = 8 --35	RelativityScriptExecution
	BEGIN
		SET @audit = 35
		SET @imax = @ct_RelativityScriptExecution
	END
	IF @o = 9 --4	Update - Mass Edit
	BEGIN
		SET @audit = 4
		SET @imax = @ct_MassAction
		SET @totalExecutionTime = @totalExecutionTime + @ct_MassAction * 2
	END

	WHILE @i < @imax  --create audits 
	BEGIN
	--set execution time for audits that have them
		SET @lower = @LLRandExecutionTime ---- The lowest random number
		SET @upper = @ULRandExecutionTime  
		IF @Audit in (28,29,32,33,34,35)
		BEGIN
			SELECT @duration = ROUND(((@Upper - @Lower) * RAND() + @Lower), 0)
			SET @totalExecutionTime = @totalExecutionTime + @duration
		END
		ELSE SET @Duration = NULL
		IF @Audit in (28,29) 
		BEGIN	--Generate a random View ID
			SET @Lower = 1  
			SELECT @upper = @totalSearches
			SELECT @SearchID = ViewArtifactID FROM #TestSearches WHERE TestSearchID = ROUND(((@Upper - @Lower) * RAND() + @Lower), 0)

		--generate random number between 1 and 10 test
		--SELECT ROUND(((10 - 1) * RAND() + 1), 0)
		END
	--Calculate the timestamp
		SET @Lower = 0 ---- The lowest random number
		SET @Upper = 3599999 
		SELECT  @startSec = ROUND(((@Upper - @Lower) * RAND() + @Lower), 0)
		IF @duration > @startSec 
		SET @split = @split + @duration - @startSec
		ELSE SET @split = 0
		SET @timestamp = dateAdd(MS,@startSec,@beginDate)
		--Generate a random user ID
		SET @Lower = 1  
		SET @upper = @totalusers
		SELECT @userID = userID FROM #TestUsers WHERE TestUserID = ROUND(((@Upper - @Lower) * RAND() + @Lower), 0)
		
		DECLARE @SQL varchar (max) 
		INSERT INTO [eddsdbo].AuditRecord_PrimaryPartition
		SELECT 
			ISNULL(@SearchID, 1)
			,CAST(@audit as varchar(50))
			,ISNULL((SELECT TOP 1 details from EDDSDBO.AuditRecord WHERE [Action] = @audit
			and ArtifactID =  @SearchID), '')
			,@userID
			,@timestamp 
			,''
			,''
			,@duration --[ExecutionTime]
			,51773
		
		IF @audit in (28,29) and EXISTS(SELECT TOP 1 details from EDDSDBO.AuditRecord WHERE [Action] = @audit
			and ArtifactID =  @SearchID
			and Details LIKE '% COUNT%')
		BEGIN
		INSERT INTO [eddsdbo].AuditRecord_PrimaryPartition
		SELECT 
			ISNULL(@SearchID, 1)
			,CAST(@audit as varchar(50))
			,ISNULL((SELECT TOP 1 details from EDDSDBO.AuditRecord WHERE [Action] = @audit
			and ArtifactID =  @SearchID
			and Details LIKE '% COUNT%'), '')
			,@userID
			,@timestamp 
			,''
			,''
			,@duration --[ExecutionTime]
			,51773
			SET @totalExecutionTime = @totalExecutionTime + @duration
			SET @genericCounter = @genericCounter + 1
			END
		--SET @SQL = '
		--INSERT INTO [eddsdbo].AuditRecord_PrimaryPartition
		--SELECT 
		--	ISNULL(@SearchID, 1)
		--	,' + CAST(@audit as varchar(50)) + '
		--	,ISNULL((SELECT TOP 1 details from EDDSDBO.AuditRecord WHERE [Action] = ' + cast (@audit as varchar)  + '
		--	and ArtifactID = ' + cast (isNULL(@SearchID,0) as varchar) + '), '''')
		--	, ' + cast(@userID as varchar) + '
		--	, ' + cast(@timestamp as varchar) + '
		--	,''''
		--	,''''
		--	,' + cast (isNULL(@duration,0) as varchar) + '--[ExecutionTime]
		--	,51773'
		--	PRINT @SQL
			SET @i = @i + 1
		END
		Set @i = 0
		Set @o = @o + 1
	END

	IF @logging = 1 
	BEGIN
		--Determine the component of arrival rate from mass actions
		SELECT @auditUsers456 = COUNT(DISTINCT UserID)
		FROM [eddsdbo].AuditRecord_PrimaryPartition
		WHERE Action IN (4,5,6) AND
		TimeStamp BETWEEN @beginDate AND DATEADD(hour, 1, @beginDate)
		--SELECT CAST (CAST (4000  as DECIMAL(8,3))/CAST (3650 as DECIMAL(8,3))/CAST (1000 as DECIMAL(8,3)) as DECIMAL (8,3))
		--Calculate arrival rate and concurrency for this hour
		SET @arrivalRateThisHour = CAST((@ct_View + @ct_Update +@ct_DocumentQuery/2 + @genericCounter + @ct_Query*2 + @ct_Import +@ct_Export + @ct_ReportQuery + @ct_RelativityScriptExecution + @auditUsers456) AS DECIMAL(18,3)) / CAST(3600 AS DECIMAL(18,3) )
		SET @concurrencyThisHour = (CAST(@totalExecutionTime AS DECIMAL(18,3) ) - CAST(@split AS DECIMAL(18,3) )) / CAST(3600 AS DECIMAL(18,3) ) / CAST(1000 AS DECIMAL(18,3) )

		INSERT INTO EDDSDBO.QoS_testDataGeneratorLog (AuditHour, TotalExecutionTime, AVGConcurrency, Split, AVGArrivalRate,dateCreated) Values (
			@beginDate,
			@totalExecutionTime,
			@concurrencyThisHour,
			@split,
			@arrivalRateThisHour,
			getUTCDate())
		--SET @SQL = 'INSERT INTO EDDSDBO.QoS_testDataGeneratorLog (AuditHour, TotalExecutionTime, AVGConcurrency, Split, AVGArrivalRate) Values (
		--	' + cast (isNULL(@beginDate,0)  as varchar) + ',
		--	' + cast (isNULL(@totalExecutionTime,0)  as varchar) + ',
		--	' + cast (isNULL(@concurrencyThisHour,0)  as varchar) + ',
		--	' + cast (isNULL(@split,0)  as varchar) + ',
		--	' + cast (isNULL(@arrivalRateThisHour,0)  as varchar) + ')'
		--PRINT @SQL

	--this part updates a previous hour with the corrected concurrency based on audits that are stragglers from the previous hour. 
		IF @Split > 0
		UPDATE EDDSDBO.QoS_testDataGeneratorLog   
		SET AVGConcurrency = (CAST(TotalExecutionTime as DECIMAL(18,3)) + (
												isnull((SELECT TOP 1 CAST(Split as DECIMAL (18,3)) FROM EDDSDBO.QoS_testDataGeneratorLog WHERE AuditHour = @begindate ORDER by dateCreated DESC), 0)))/CAST(3600 as DECIMAL(18,3)) WHERE AuditHour = DateADD (HH, -1, @begindate)
	END
 --Commit Transaction createTestAudits

END