<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net462" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net462" />
  <package id="kCura.PDB.Dapper" version="1.50.2" targetFramework="net462" />
  <package id="kCura" version="9.5.341.30" targetFramework="net462" />
  <package id="kCura.Injection" version="9.5.341.30" targetFramework="net462" />
  <package id="Moq" version="4.5.28" targetFramework="net462" />
  <package id="NUnit" version="3.5.0" targetFramework="net462" />
  <package id="NUnit3TestAdapter" version="3.7.0" targetFramework="net462" />
  <package id="Relativity.API" version="9.5.341.30" targetFramework="net462" />
  <package id="Relativity.Authentication.Interfaces" version="9.5.341.30" targetFramework="net462" />
  <package id="Relativity.Core" version="9.5.292.12" targetFramework="net462" />
  <package id="Relativity.Logging.Interfaces" version="9.4.300" targetFramework="net462" />
  <package id="Relativity.Rsapi" version="9.5.292.12" targetFramework="net462" />
  <package id="Relativity.Toggles" version="1.0.0.64" targetFramework="net462" />
</packages>