<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="WorkspaceId" value="0"/>
	<add key="Server" value="localhost" />
	<add key="RSAPIServer" value="localhost"/>
	<add key="RSAPIUserName" value="user@domain.com"/>
	<add key="RSAPIPassword" value="password"/>
	<add key="RSAPIDomain" value="localhost" /> <!-- example: k12-r93-dg -->
	<add key="RSAPIProtocol" value="http"/>
	<add key="RSAPIUseWindowsAuthentication" value="false"/>
	<add key="EddsdboUsername" value="eddsdbo"/>
	<add key="EddsdboPassword" value="password"/>
	<add key="MdfPath" value="\\localhost\Database"/>
	<add key="LdfPath" value="\\localhost\Database"/>
	<add key="SAUserName" value="sa"/>
	<add key="SAPassword" value="password"/>
	<add key="UITestScreenshotLocation" value="\\milyli-server\milylifolders\Deployment\Drop\kCura.PDB\UITestScreenshots" />
	<add key="MetricManagerAgentInRelativity" value="false"/>
	<add key="WorkerAgentInRelativity" value="false"/>
</appSettings>