<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<add name="relativity" connectionString="Data Source=localhost;
				User Id=sa;
				Password=password;
				Connect Timeout=30;"/>
	<add name="relativityWorkspace" connectionString="Data Source=localhost;
				User Id=sa;
				Password=password;
				Connect Timeout=30;"/>
</connectionStrings>